<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vue Basic </title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style> .canvas {width: 300px;
                    height: 300px;
                    margin-top: 20px;
                    background:  #ddd; 
                    }
    </style>


  </head>
  <body>
  <h1> Vue Basic</h1>
  <div id="app">
    <h2>{{ title }}</h2>
    <p v-if="ShowName"> Mario <p>
    <p v-if="ShowAge"> 25 <p>
    
    <button @click = "toogleName" > Show Name {{ShowName}} </button>
    <button @click = "toogleAge" > Show Name {{ShowAge}} </button>
    <h2> my name is {{name}}</h2>
    <ul> 
      <li v-for= "item in items" >{{item}}</li>
    </ul>

    <div v-for = "elt in prog">
      <p> {{elt.name}}</p>
      <p> {{elt.age}}</p>
    </div>
    <p>{{ greet('evening')}}</p>
    <input type=" text" v-model="name">
    <p> I earn {{ wage}} per hour</p>
<p>
    <button v-on:click = " ChangeWage(2) ">increase wage by 1 euro </button>
    <br>
    <button v-on:click = " wage -- ">decrease wage by 1 euro </button>
    <br>
    <button v-on:dblclick = " ChangeWage(5) ">increase wage by 5 euro </button>
    <br>
    <button v-on:dblclick = " ChangeWage(-5) ">decrease wage by 5 euro </button>
  </p>
    <a v-bind:href="url">youtube</a>
    <br>
    <button @click ="LogEvent"> Log Event Info </button>
    <div class="canvas" @mousemove="LogCoords">{{coords.x}},{{coords.y}}</div>


    <button @click="LogMessage"> ALT click me </button>
    <br>
    <button @click.shift="LogMessage"> SHIFT click me </button>
    <br>
    <button @click.alt="LogMessage"> ALT click me modifier </button>
  </div>



    <script src="app.js"></script>
  </body>
</html>
