<template>
    <div class= "blogs"> 
        <h2> {{blogTitle}} </h2>
        <div v-for="post in posts" :key="post.id"> 

       
            <h3> {{post.title}}</h3>
            <p>{{ post.body}}</p>
         </div>
    </div>
    
</template>

<script>
import axios from "axios"
export default {
    name:"blogs",
    data(){return{
        posts:[],
        blogTitle: " Blogs "
    }},
    beforeCreate(){
        alert("before create")
    },
    created(){
        alert("Created")
        axios.get("https://jsonplaceholder.typicode.com/posts/")
        .then(response => {console.log(response)
        this.posts = response.data
        })
        }
        
}
</script>