<template>
    <nav>
        <ul>
            <li><a href="">Home__</a></li>
            <li><a href="">About__</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>
</template>

<script>
export default {
    Name:"Navbar",
    data(){
        return{

        }
    }
}
</script>
<style scoped>
nav{text-align: center;}
nav ul {padding: 0;}
nav li{display: inline;
        list-style-type: none;
        margin: 0 ;
        padding: 0;}    
</style>