<template>
  <div id="Online-friends" >
      <h2> Online-friends</h2>
      <div v-for = "(friend,index) in friends" :key = "index"> 
           <span v-if="friend.online">  {{friend.name}} </span> 
        </div>   
  </div>
</template>

<script>

export default {
    props: ["friends"],
    name: "Online-friends",
}
</script>


<style ></style>

