<template>
  <div id="app">
    <Navbar></Navbar>
    <Blogs/>
    
  </div>
</template>

<script>

import Navbar from './components/Navbar.vue'
import Blogs from './components/Blogs.vue'
export default {
  name: 'App',
  components: {
    Navbar,
    Blogs,
  },
  data(){
    return{
      title:" my first App woah ! ",
      friends: [ 
                        {name: "remi", online: true },
                        {name: "Paul", online: false },
                        {name: "Max", online: true },
                        {name: "Jack", online: false },
                        ]}


  }
  
  }

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
