<template>
    <div>
        <h3> Profile for : {{userID}}</h3>
    </div>
</template>

<script>
export default {
    name:"ViewProfile",
    
    data(){
        return{
            userID: this.$route.params.user_id
            } },

    methods:{
        updateID(){
            this.userID= this.$route.params.user_id
        }
    },

    watch:{ $route : 'updateID'},
   
}
</script>

<style >

</style>